// HEADER
body 
  background-image: url('../../../images/header-bg4.jpeg')
  background-repeat: no-repeat
  background-size: 100%
  font-family: 'Montserrat', sans-serif
  font-weight: 200
  height: 20vh
  margin: 0

  .soun
    color: #636b6f
    padding: 0 25px
    font-size: 12px
    font-weight: 600
    text-decoration: none
    text-transform: uppercase
    font-family: 'Montserrat', sans-serif

  .navbar
    background-color: #252525
    a:hover 
      color: white
      text-decoration: underline

  .full-height 
    height: 100vh

  .flex-center 
      align-items: center
      display: flex
      justify-content: center
  
  .position-ref 
      position: relative
  
  .top-right 
      position: absolute
      right: 10px
      top: 18px

  .content 
      text-align: center
  
  .title 
      font-size: 84px
  
  .links>a 
      color: #636b6f
      padding: 0 25px
      font-size: 12px
      font-weight: 600
      letter-spacing: .1rem
      text-decoration: none
      text-transform: uppercase
      font-family: 'Montserrat', sans-serif
  
  .m-b-md 
      margin-bottom: 30px
    

// About me
#presentation 
    .container
        font-family: 'Montserrat', sans-serif
        max-width: 85% !important
        height: 50vh


        .row
            .left
                background-image: url('/images/about6.jpeg')
                background-size: 100%
                background-position: center
            .right
                background-color: white
                padding-bottom: 50px

// my offer
#offer
    background-color: #eaeaea
    i
        font-size: 3.5vh
    
    .hvr:hover
        i
            color: #636b6f
            transform: scale(1.5)

// Compteur 
#compteur  
    background-color: black
    height: 30vh
    i 
        font-size: 3.5vh

// Gallerie
#gallerie 


        
