// HEADER
.header
    background-image: url('/images/orchid.jpeg')
    background-color: black
    background-repeat: no-repeat
    background-size: 180vh
    background-attachment: fixed
    font-family: 'Montserrat', sans-serif
    font-weight: 200
    height: 100vh
    margin: 0
    box-shadow: 5px 10px 18px #888888
 
  
    .navbar
        background-color: #0b0b0b
        border-bottom: 1px solid #1c1a19a8

        a:hover 
            color: #e3d6c9
            text-decoration: none

    .soun
        font-size: 20px
        font-weight: 600
        // text-transform: uppercase

    .links>a 
        color: #636b6f
        padding: 0 25px
        font-size: 12px
        font-weight: 600
        letter-spacing: .1rem
        text-decoration: none
        text-transform: uppercase
        font-family: 'Montserrat', sans-serif
  
    .contenu
        text-align: center
        .sae
            font-size: 100px
            font-family: 'Bellefair', serif
            margin-top: 25px
            font-size: 15vh
            text-align: center
            animation: fadein 5s
            -webkit-animation: fadein 5s
            @keyframes fadein
                from
                    opacity: 0
                to
                    opacity: 1
                p
                    color:#e3d6c9



// About me
#presentation 

    .container
        font-family: 'Montserrat', sans-serif
        max-width: 85% !important
        height: 50vh

        .row
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2)
            .left               
                img
                    width: 100%
                    height: auto
            .right
                font-family: 'Monserrat', sans-serif
                background-color: white
                padding-bottom: 50px
                p
                    font-family: 'Nunito', sans-serif
                    font-size: 16px



// my offer
#offer
    background-image: url('/images/roches.jpg')
    background-color: black
    background-repeat: no-repeat
    background-size: 180vh
    background-attachment: fixed

    margin: 0
    height: 50vh
    i
        font-size: 3.5vh
        
    
    .hvr:hover
        i
            color: #24152a
            transform: scale(1.5)

// Compteur 
#compteur  
    background-color: black
    height: 30vh
    i 
        font-size: 6vh
    .fa-html5:hover
        color: #e35245
        transform: scale(1.2)
    .fa-css3-alt:hover
        color:  #0070bb
        transform: scale(1.2)
    .fa-sass:hover
        color:  #cd6699
        transform: scale(1.2)
    .fa-js-square:hover
        color:  #f7e046
        transform: scale(1.2)
    .fa-vuejs:hover
        color:  #43b883
        transform: scale(1.2)
    .fa-laravel:hover
        color:  #f6484c
        transform: scale(1.2)

       

// Gallerie
#gallerie 
    height: 50vh
    display: inline-block
    img
        height: 100%
        width: 100%
        background-color: black
    a:hover
        text-decoration: underline
        color: black




#contacts 
    max-width: 80% !important
    color: #636b6f
    height: 80vh
    padding: 0 25px
    font-size: 12px
    font-weight: 600
    letter-spacing: .1rem
    text-decoration: none
    text-transform: uppercase

    .blacksquare
        background-color: black
        color: #636b6f
        font-size: 12px
        font-weight: 600
        text-decoration: none
        text-transform: uppercase
        font-family: 'Montserrat', sans-serif
        letter-spacing: 3px
        
    input
        background-color: black
        border-color: black
        border-bottom-color: white
    input:focus
        outline: none
        
    
    .feelfree
        color: black
        text-transform: uppercase
        font-family: 'Montserrat', sans-serif
        letter-spacing: 2px
        p 
            font-size: 10px
            font-weight: 400
            text-decoration: none
            font-family: 'Montserrat', sans-serif
            letter-spacing: 1px
        i 
            font-size: 20px
            padding: 20px
            background-color: black
            margin: 10px
        .position
            padding-left: 23px
            padding-right: 23px
        span 
            color: black
            font-size: 10px
            font-weight: 400
            text-decoration: none
            font-family: 'Montserrat', sans-serif
            letter-spacing: 1px
#footer 
    font-family: 'Montserrat', sans-serif
    letter-spacing: 1px
    background-color: black
    font-size: 13px
    font-weight: 300
    padding-top: 30px
    height: 20vh
    .container
        max-width: 80%
        .rs
            i 
                padding: 2px
                font-size: 20px
                



        
